.pager
{
    width: 550px;
}
.pager div.short
{
    float: right;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    width: 100px;
}

.pager ul
{
    padding: 0;
    margin: 0;
    float: left;
    margin-right: 2px;
    margin-left: 2px;
}

.pager span
{
    margin-left: 4px;
    float: left;
}
.pager .btn
{
    display: block;
    width: 40px;
    text-align: center;
    float: left;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.active {}


