<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">

	<test name="CategoryTest">
		<classes>
			<class name="com.heaptrip.repository.CategoryRepositoryTest" />
		</classes>
	</test>

	<test name="TripTest">
		<classes>
			<class name="com.heaptrip.service.trip.InitTripTest" />
			<class name="com.heaptrip.service.trip.TripServiceCommonTest" />
			<class name="com.heaptrip.service.trip.TripServiceUserTest" />
		</classes>
	</test>

</suite>
