<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">

	<test name="ImageTest">
		<classes>
			<class name="com.heaptrip.service.image.ImageServiceTest" />
		</classes>
	</test>

	<test name="RegionTest">
		<classes>
			<class name="com.heaptrip.service.region.RegionServiceTest" />
		</classes>
	</test>

	<test name="CategoryTest">
		<classes>
			<class name="com.heaptrip.service.category.CategoryServiceTest" />
		</classes>
	</test>

	<test name="ContentTest">
		<classes>
			<class name="com.heaptrip.service.content.ContentServiceTest" />
		</classes>
	</test>

	<test name="TripTest">
		<classes>
			<class name="com.heaptrip.service.trip.InitTripTest" />
			<class name="com.heaptrip.service.trip.TripServiceTest" />
			<class name="com.heaptrip.service.trip.TripUserServiceTest" />
		</classes>
	</test>

	<test name="CommentTest">
		<classes>
			<class name="com.heaptrip.service.comment.CommentServiceTest" />
		</classes>
	</test>

</suite>
