* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
header, nav, section, article, aside, footer {
	display: block;
}
body {
	font: 12px/18px Verdana, Arial, Tahoma, sans-serif;
	width: 100%;
	height: 100%;
}
a {
	color: blue;
	outline: none;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0 0 18px
}
img {
	border: none;
}
input {
	vertical-align: middle;
}

#top{
	width: 100%;
	min-width: 939px;
	height: 44px;
	background: #282828;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}

#wrapper {
	width: 939px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	z-index: 2;
}


/* Header
-----------------------------------------------------------------------------*/
#header {
	height: 75px;
	position: relative;
}

#logo{
	display: block;
	width: 142px;
	height: 67px;
	background: url('../images/logo.png') no-repeat;
	position: absolute;
	left: 13px;
	top: 3px;
	z-index: 2;
}


#path {
    background: #292929;
   // border: 1px solid #404141;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    //behavior: url(/pie/PIE.htc);
    position: absolute;
    left: 200px;
    top: 8px;
    z-index: 2;
}

#path_text{
    color: #CFCFCF;
    padding: 0 7px 0 7px;
    height: 18px;
    line-height: 18px;
   // border: 1px solid #404141;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
    cursor: pointer;
    margin: -1px;
}




#account,#alert{
	background: #292929;
	border: 1px solid #404141;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	position: absolute;
	left: 870px;
	top: 7px;
	z-index: 2;
}

#alert {
	left: 148px;
	padding-left: 17px;
	padding-right: 3px;
	color: #CFCFCF;
	text-decoration: none;
	background: url('../images/warning.png') 2px 1px no-repeat;
}

#account_name{
	color: #CFCFCF;
	padding: 0 28px 0 6px;
	height: 18px;
	line-height: 18px;
	background: url('../images/account.jpg') right center no-repeat;
	border: 1px solid #404141;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	cursor: pointer;
	margin: -1px;
}

#account_name a{
	color: #CFCFCF;
	text-decoration: none;
}

#account_name.login{
	background: none;
	padding: 0 6px 0 6px;
}

#account ul{
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 5px;
	display: none;
}

#account ul li{
	margin: 0;
	padding: 0;
}

#account ul li a{
	display: block;
	height: 21px;
	line-height: 21px;
	padding-left: 17px;
	color: #CFCFCF;
	text-decoration: none;
}

#account ul li a:hover,
#account ul li a:active{
	background: #22404B;
}






#language{
	background: #F0F0E7 url('../images/language.png') -1px -1px repeat-x;
	min-width: 106px;
	border: 1px solid #A7A7A7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	position: absolute;
	right: 80px;
	top: 7px;
	z-index: 3;
}

#language_show{
	width: 15px;
	height: 6px;
	display: block;
	position: absolute;
	z-index: 1;
	top: 6px;
	right: 0px;
	background: url('../images/lang_down.png') no-repeat;
}

#language_now{
	width: 90%;
	color: #000000;
	padding: 0 5px 0 6px;
	height: 20px;
	line-height: 20px;
	cursor: pointer;
	margin: -1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	position: relative;
	z-index: 2;
}

#language ul{
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-bottom: 5px;
	display: none;
}

#language ul li{
	width: 100%;
	margin: 0;
	padding: 0;
}

#language ul li a{
	display: block;
	height: 21px;
	line-height: 21px;
	padding-left: 10px;
	padding-right: 5px;
	color: #000000;
	text-decoration: none;
}

#language ul li a:hover,
#language ul li a:active{
	background: #DCDCDC;
}

#language ul li a span,
#language_now span{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin-top: 3px;
	margin-right: 3px;
}

.lang{
	display: block;
}

.ru{ background-position: 0px 0px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.en{ background-position: 0px -18px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.du{ background-position: 0px -36px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.fr{ background-position: 0px -54px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.yk{ background-position: 0px -72px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.sw{ background-position: 0px -90px; background-image: url('../images/country.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.add_lang{ background-position: 0px 0px; background-image: url('../images/add_lang.png'); background-repeat: no-repeat; width: 20px; height: 14px;}
.del_lang{ background-position: 0px 0px; background-image: url('../images/del_lang.png'); background-repeat: no-repeat; width: 20px; height: 14px;}

.select{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.select_selected{
	color: #08284E;
	padding: 0 28px 0 6px;
	height: 18px;
	line-height: 18px;
	background: url('../images/select.png') right center no-repeat;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	cursor: pointer;
	margin: -1px;
}

.select_selected a{
	color: #08284E;
	text-decoration: none;
}

.select ul{
	margin: 0 !important;
	padding: 0 !important;
	list-style: none;
	margin-bottom: 5px;
	display: none;
	background: #F2F2F2;
	position: absolute;
	z-index: 99999;
}

.select ul li{
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
}

.select li:hover{
	border: none !important;
}

.select ul li a{
	display: block;
	height: 21px;
	line-height: 21px;
	padding-left: 15px;
	padding-right: 15px;
	color: #08284E;
	text-decoration: none;
}

.select ul li a:hover,
.select ul li a:active{
	background: #E1E1E1;
}
