.pagination
{
    /*border-bottom: 1px solid #E2E6E5;*/

    width: 625px;
}
.pagination div.short
{
    margin: 0;
    padding: 0;
    margin-right: 10px;
}


.pagination ul
{
    padding: 0;
    margin: 0;
    margin-right: 2px;
    margin-left: 2px;
}

.pagination span
{
    margin-left: 4px;
}
.pagination .btn
{
    display: inline;
    width: 40px;
    text-align: center;
    padding: 0;
    margin: 0;
    margin-left: 2px;
    margin-right: 2px;
    cursor: pointer;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.active {}

