@font-face {
    font-family: 'verdana';
    src: url('../fonts/VERDANA.TTF');
}

#nav{
	height: 37px;
	background: #00BBFF;
	border: 1px solid #0894C7;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	position: relative;
	left: 0px;
	margin-top: -36px;
	z-index: 1;
	text-align: left;
}

#nav ul{ 
    margin: 0;
    padding: 0;
    list-style: none;
	position: relative;
	left: 202px;
	top: 4px;
	width: 736px;
}

#nav ul li{
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#nav ul li a{
    display: block;
    height: 29px;
    line-height: 29px;
	margin: 0 2px;
	padding: 0 10px;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 15px;
    color: #FFFFFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);    
}

#nav ul li a:hover{
    background: #19A1D3;
    color: #FFFFFF;
}

#nav ul li a:active{
    background: #19A1D3;
}

#nav ul li a.active{
    background: #0E84AF;
}

.global_menu{
    width: 24px;
    height: 24px;
    background: url("../images/global_menu.png") no-repeat;
    display: block;
    position: absolute;
    cursor: pointer;
    left: 172px;
    top: 6px;
}

#nav .global_menu>ul{
    position: absolute;
    width: 160px;
    background: #F0F0F0;
    border: 1px solid #D8D8D8;
    top: 26px;
    left: -72px;
    padding: 4px 2px;
    display: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
}

#nav .global_menu>ul li{
    width: 100%;
    text-align: center;
}

#nav .global_menu>ul li a{
    color: #333333;
}

#nav .global_menu>ul li a:hover{
    color: #FFFFFF;
}

.search{
	position: relative;
}

#header form{
	position: absolute;
	z-index: 2;
	right: 10px;
	top: 46px;
}

.search input[type=text]{
	width: 246px;
	height: 20px;
	border: none;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);
	padding: 0 20px 0 5px;		
}

.search input[type=submit]{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	border: none;
	background: url('../images/search.jpg') center center no-repeat;
}

/* Middle
-----------------------------------------------------------------------------*/
#middle {
	width: 100%;
	padding: 0 0 200px;
	height: 1%;
	position: relative;
}
#middle:after {
	content: '';
	clear: both;
	display: table;
}
#container {
	width: 100%;
	float: left;
}
#contents {
	padding: 0 298px 0 15px;
	margin-bottom: 30px;
}

.red{
	color: #EC403C;
}

/* Sidebar Right
-----------------------------------------------------------------------------*/
#sideRight {
	float: left;
	margin-right: -3px;
	width: 283px;
	margin-left: -283px;
	position: relative;
	margin-bottom: 20px;
}
/*
------------------------------------------------------------------------------*/
input[type=checkbox]{
	cursor: pointer;
}
.chek{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    *display: inline;
    background-image: url("../js/themes/default/d.png"); background-repeat:no-repeat; background-color:transparent;	
    cursor: pointer;
    overflow: hidden;
    width: 13px;
    height: 13px;
}

.check_false{
    background-position: -2px -20px;
}

.check_true{
    background-position: -38px -20px;
}

/*Лента
-------------------------------------*/
#article{
	font-family: "Verdana";
	padding: 8px 0 12px 0;
	position: relative;
	border-top: 1px solid #DEE5EB;
}

#article:first-child{
	border: none;
}

#article span{
	margin-left: 4px;
}

#article .date{
	font-size: 12px;
	color: #ABABAB;
	text-align: left;
	padding-bottom: 3px;
	letter-spacing: 1px;
}

#article .date span{
	margin-left: 5px;
}

#article .advertising span{
	color: #FCBCBD;
}

#article .inf .left,
#article .inf .right{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    letter-spacing: 1px;
}

#article .inf .left{
	text-align: left;
	color: #2C2C2C;
	font-weight: bold;
	width: 380px;
}

#article .inf .left a{
    text-decoration: none;
}

#article .inf .left a:hover{
    text-decoration: underline;
}

#article .inf .left .tags a:hover{

}

#article .inf .left h2{
	margin-bottom: 5px;
}

#article .inf .right{
	text-align: right;
	color: #ABABAB;
	font-weight: normal;
	width: 240px;
}

#article .inf .right a{
    color: #ABABAB;
    text-decoration: none;
    cursor: pointer;
}

#article .inf .right a{
    text-decoration: none;
}

#article .inf .right a:hover{
    text-decoration: underline;
}

#article .inf .left h2 a,
#article .inf .left h2{
	font-size: 20px;
	font-weight: normal;
	color: #07284C;
	text-decoration: none;
	padding-bottom: 3px;
	letter-spacing: 0px;
}

#article .inf .left h2 a:hover{
	text-decoration: underline;	
}

#article .inf .left span{
	font-weight: normal;
}

#article .inf .right span.date{
	color: #07284C;
	font-weight: bold;
	padding-bottom: 3px;
	letter-spacing: 0px;
}

#article .inf .right span.location{
	color: #2C2C2C;
	font-weight: bold;
}

#article .inf .right div.answer{
	color: #6AC649;
	font-size: 20px;
	text-align: right;
	margin-top: 10px; 
}

#article .description{
	color: #2C2C2C;
	padding: 10px 0;
	text-align: justify;
	position: relative;
}

#article .description a{
	color: #0E84AF;
	text-decoration: none;
}

#article .description a:hover{
	text-decoration: underline;
}

#article .description img{
	margin: 5px;
    max-width: 100%;
}

#article .tags, 
#article .price{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding-bottom: 10px;
    letter-spacing: 1px;
}

#article .tags{
	width: 481px;
	text-align: left;
}

#article .tags a{
    color: #545454;
    margin-right: 10px;
    cursor: pointer;
    text-decoration: none;
}

#article .tags a:hover{
	text-decoration: underline;
}

#article .price{
	width: 140px;
	text-align: right;
	color: #2C2C2C;
	font-weight: bold;
}

#article .views,
#article .comments,
#article .wertung,
#article .stars{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    letter-spacing: 1px;
    margin-right: 10px;
    color: #ABABAB;
}

#article .views span,
#article .comments span{
	color: #2C2C2C;
	font-weight: bold;
}

#article .wertung span{
	color: #ABABAB;
	font-weight: normal;
}

#article .stars{
	width: 56px;
	height: 11px;
	background-image: url('../images/stars.png');
	background-repeat: no-repeat;
	margin-top: 3px;
	margin-left: 10px;	
}

#article .star0{ background-position: 0px -55px}
#article .star1{ background-position: 0px -44px}
#article .star2{ background-position: 0px -33px}
#article .star3{ background-position: 0px -22px}
#article .star4{ background-position: 0px -11px}
#article .star5{ background-position: 0px 0px}

/* Пагинация 
----------------------------------------------------*/
.pagination{
    height: 22px;
    border-top: 1px solid #DEE5EB;
    border-bottom: 1px solid #DEE5EB;
    text-align: center;
    margin: 60px 0 -1px 0;
    padding: 4px 0;
}

.pagination div,
.pagination ul,
.pagination li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    color: #545454;
    font-family: verdana;
    font-size: 12px;
    line-height: 21px;
    text-align: center;
}

.pagination li a{
    text-decoration: none;
    color: #545454;
    /* margin-left: 2px; */
    width: 22px;
    display: block;
}

.pagination li a:hover{
    text-decoration: none;

}

.pagination .pagination_prev,
.pagination .pagination_next{
    background: #DEE5EB;
    border: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    behavior: url(/pie/PIE.htc);
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 2px;
}

.pagination li.active{
    background: #00BBFF;
    border: none;
    -webkit-border-radius: 11px;
    -moz-border-radius: 11px;
    border-radius: 11px;
    behavior: url(/pie/PIE.htc);
    height: 22px;
    width: 22px;
    cursor: pointer;
    margin-left: 2px;

}

.pagination li.active > a{
    color: #FFFFFF;
}

.pagination_name{
    font-weight: bold;
    letter-spacing: 1px;
    margin-right: 20px;
}

/* Виджет
----------------------------------------------------*/
.widget{
	background: #E7EDF0;
	margin-top: 7px;
	padding-bottom: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
}

.widget .zag{
	height: 39px;
	font-size: 19px;
	color: #07284C;
	line-height: 39px;
	background: #E7EDF0;
	padding-left: 11px;
	margin-bottom: 7px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(/pie/PIE.htc);	
}

.widget ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.widget ul li{
	margin: 0px 10px 10px 30px;
	padding: 0px;
}

.widget div.autor,
.widget div.autor a,
.widget div.date,
.widget span.comments{
	font-size: 11px;
	color: #5E748A;
}

.widget div.name_post,
.widget div.name_post a{
	font-size: 12px;
	color: #07284C;
	position: relative;
	padding-right: 30px;
}

.widget a{
	text-decoration: none;
}

.widget a:hover{
	text-decoration: underline;
}

.widget span.comments{
	position: absolute;
	top: 0px;
	right: 0px;
}

.widget ul li div {
	line-height: 15px;
}

/* фильтр
----------------------------------------------------*/
.filtr{
	background: #F0F0E8;
	margin-top: 7px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
}

.filtr .zag{
	height: 39px;
	font-size: 20px;
	color: #07284C;
	line-height: 39px;
	background: #E7EDF0;
	padding-left: 11px;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(/pie/PIE.htc);
	position: relative;	
}

.filtr .zag span{
	display: block;
	width: 18px;
	height: 18px;
	position: absolute;
	top: 12px;
	right: 12px;
	cursor: pointer;
	background: url('../images/show_filtr.png') no-repeat;
}

.filtr.open .zag span{
	background-image: url('../images/show_filtr.png');
	background-position: initial initial;
	background-repeat: no-repeat no-repeat;
}

.filtr .for_button{
	text-align: right;
	border-top: 1px dashed #C9C9C2;
	margin: 5px 5px 0 5px;
	padding: 5px 5px 0 5px;
}

#wrapper #article .button,
#wrapper .button,
.button{
	text-align: center;
	padding: 2px 10px;
	color: #FFFFFF;
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 1px;	
	background: #A1A4A1;
	border: 1px solid #7A7A73;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

.filtr div.content{
	padding: 7px 0;
	display: none;

}

.filtr.open div.content{
	display: block;
}

/* Выбор категории
----------------------------------------------------*/
.filtr{
	overflow: hidden;
}
.filtr ul{
	list-style: none;
}

.filtr ul li{
	margin: 0;
	padding: 0px 0pt 0px 18px;
}

.filtr ul li a{
	font-size: 13px;
	color: #2C2D27;
	margin-left: 5px;
}

.tree{
	margin-left: -9px;
}

.filtr div.content{
	padding: 7px 0;
	display: none;

}

/* Выбор региона
---------------------------------------------------*/
#region .search,
#community .search,
#people .search{
	width: 270px;
	left: 5px;
	margin-bottom: 10px;
}

#region .search input[type=text],
#community .search input[type=text],
#people .search input[type=text]{
	border: 1px solid #C1C1BB;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	height: 18px;
}

#region .search input[type=button],
#community .search input[type=button],
#people .search input[type=button]{
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
	border: none;
	background: url('../images/search.jpg') center center no-repeat;
}

#community ul{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}

#community ul li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 0px 0pt 0px 12px;
}

#community ul li label{
	font-weight: normal;
	margin: 0 5px 0 5px;
}

/* Детально объявление
-----------------------------------------------------*/
#contents .deteil .inf .left div{
	color: #ABABAB;
	font-weight: normal;
}

#contents .deteil .inf .left div span{
	font-weight: bold;
	color: #2D2D2D;
}

#contents .deteil .inf .left div a:hover>span{
    text-decoration: underline;
}

#contents .deteil .inf .right{
	position: absolute;
	top: 8px;
	right: 0px;
}

#contents .deteil .inf .right ul{
	list-style: none;
	margin-top: 5px;
}

#contents .deteil .inf .right ul li{
	display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
	margin-right: 4px;
	margin-left: 0px; 
	border: 1px solid #C9C9C9;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);   
}

#contents .deteil .inf .right ul li.activ_lang{
position: relative;
top: -4px;
}

#contents .dop_inf{
	border-top: 1px solid #E2E6E5;
	border-bottom: 1px solid #E2E6E5;
	padding: 12px 0;
	margin-bottom: -13px
}

#contents .dop_inf a.button{
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
	width: 107px;
	margin-top: -1px;
}

h2.chernovik a{
	color: #ABABAB !important;
}
span.for_frends{
	color: #6AC649;
}
/* таблица детального объявления
----------------------------------------------------*/
.table_inf{
	margin: 5px 0 25px;
}
.table_inf table{
	border-collapse: 0;
	color: #2C2C2C;

	border-top: 1px solid #AAAAAA;
	padding-top: 5px;
	margin-bottom: 5px;
}

.table_inf a.button{
	width: 107px;
	margin: 3px 3px;
}

.table_inf table a.button{
	width: 107px;
	margin: 3px 0;
}


.table_inf td{
	border-left: 1px dashed #AAAAAA;
	border-top: 1px dashed #AAAAAA;
	padding: 15px 5px;
	text-align: center;
}

.table_inf td:first-child{
	border-left: none;
}

.table_inf th:last-child{
	width: 117px;
}

.table_inf table th{
	border-left: 1px dashed #AAA;
	margin-top: 5px;
    font-size: 8pt;
	font-weight: normal;
	color: #AAA;
	line-height: 12px;
	vertical-align: middle;
	padding: 5px 3px 5px 3px;
	/*width: 18%;*/
	height: 40px;
}

article .table_inf th:first-child {
	border-left: none;
	width: 111px;
}



.table_inf td.warning{
	color: #ED3F3E;
}

/* комментарии
------------------------------------------------------------------------------------*/

.comments_post ul{
	list-style: none;
	margin-left: 25px;
}

.comments_post .comments_mother{
	margin-left: 0px;
}

.comments_post .comments_mother:after {
	content: '';
	clear: both;
	display: table;
}

.comment_info{
	margin: -3px 0 8px 0;
	width: 100%;
	position: relative;
}

.comment_name{
	font-size: 12px;
	font-weight: bold;
	color: #254463;
	margin-right: 5px;
}

.comment_date{
	font-size: 11px;
	color: #A9A9A9;
}

.comment_avatar{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	float: left;		
    width: 55px;
    height: 55px;
    overflow: hidden;
}

.comment_text{
	margin-left: 65px;
	font-size: 12px;
	font-style: italic;
	color: #2D2D2D;
	text-align: justify;
}

.comment_answer {
	width: 100%;
	float: left;
	margin-bottom: 8px;	
}

.comment_content{
	border: 1px solid #FFFFFF;
	padding: 5px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);	
	cursor: pointer;
}

.comment_content:after {
	content: '';
	clear: both;
	display: table;
}

.comment_new{
	width: 100%;
	position: relative;
	margin: 5px 0;
}

.comment_new textarea{
	display: block;
	width: 74.3%;
	padding: 10px 24% 10px 10px;
	height: 17px;
	border: 1px solid #DEE5EB;
    emptycolor: #AAAAAA;
	font-style: italic;
}

.comment_new input{
	position: absolute;
	top: 9px;
	right: 9px;
}

/* Меню детального описания путешествия
---------------------------------------------------------------------------*/

.travel_nav{
	height: 45px;
	border-top: 1px solid #E2E6E5;
	border-bottom: 1px solid #E2E6E5;
	position: relative;
	text-align: right;
	margin-top: 15px;
}

.travel_nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.travel_nav ul li{
    margin: 0 17px 0 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.travel_nav ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    margin: 0px;
    padding-right: 21px;
    text-decoration: none;
    font-family: "Verdana";
    font-size: 12px;
    color: #ABABAB; 
    letter-spacing: 0px;
    position: relative;
}

.travel_nav ul li:last-child{
	margin-right: 0px;
}

.travel_nav ul li a:hover{
    color: #062748;
}

.travel_nav ul li a:active{
    color: #062748;
}

.travel_nav ul li a.active{
    color: #062748;
}

.travel_nav ul li a span{
	position: absolute;
	width: 11px;
	height: 7px;
	right: 0px;
	top: 20px;
	background-image: url('../images/travel_nav.png');
	background-repeat: no-repeat;
	background-position: 0px -7px;
}

.travel_nav ul li a.active span{
	background-position: 0px 0px;
}

.travel_nav .button{
	position: absolute;
	left: 0px;
	top: 13px;
}

/* Страница "Маршрут" вкладки
------------------------------------------------------------------------------*/

.tabs{
	position: relative;
	margin-top: 15px;
}

.tabs ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

.tabs ul li{
    margin: 0;
    padding: 0;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

#article .tabs ul li span{
    display: block;
    height: 20px;
    line-height: 19px;
    margin: 0px;
    padding: 0 10px;
    font-family: "Verdana";
    font-size: 12px;
    color: #AAACAB; 
    letter-spacing: 0px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

#article .tabs_interactiv ul li span{
	border-top: 1px solid #E2E6E7;
	border-bottom: 1px solid #E2E6E7;
	background: #E8EDF0;
}

#article .tabs ul li:first-child>span{
	border-top: 1px solid #E2E6E7;
}

#article .tabs_interactiv ul li:last-child>span{
	border-right: 1px solid #E2E6E7;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
	behavior: url(/pie/PIE.htc);
}

#article .tabs ul li:first-child>span{
	border-left: 1px solid #E2E6E7;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	behavior: url(/pie/PIE.htc);
}

#article .tabs ul li span.activ{
	border-right: 1px solid #E2E6E7;
	border-left: 1px solid #E2E6E7;
	border-bottom: 1px solid #FFFFFF;
	background: #FFFFFF;
	color: #07284B;
	-webkit-border-radius: 5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
	behavior: url(/pie/PIE.htc);
}

#article .tabs ul li div.tabs_content{
	width: 100%;
	position: absolute;
	border: 1px solid #E2E6E7;
	margin-top: -1px;
	left: 0px;
	z-index: 1;
	-webkit-border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	behavior: url(/pie/PIE.htc);
	background: #FFFFFF;
	display: none;
}

#article .tabs ul li div.tabs_content>div,
#article .tabs ul li div.tabs_content>ul{
	margin: 7px 0 0 7px;
}

#article .tabs ul li div.tabs_content>div{
	margin-bottom: 7px;
}

#article .tabs ul li div.tabs_content li{
	position: relative;
	margin: 0 7px 7px 0;
}

#article .tabs ul li div.tabs_content li img{
	width: 199px; 
	height: 184px;
	display: block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/pie/PIE.htc);
}

#article .tabs .tabs_autor{
	font-size: 12px;
	font-weight: bold;
	color: #234165;
	position: absolute;
	top: 0px;
	right: 0px;
}

/* Страница фото (альбомы)
----------------------------------------------------------*/
#article .albom{
	border-bottom: 1px solid #E2E6E5;
	margin-bottom: 15px;
}

#article .albom:last-child{
	border-bottom: none;
}

#article .albom .albom_inf{
	font-size: 12px;
	color: #2F2F2F;
}

#article .albom .albom_inf .albom_date,
#article .albom .albom_inf .albom_my{
	font-size: 14px;
	color: #07294C;
	margin-right: 5px;
}

#article .albom ul{
	margin: 5px 0 0 5px;
	padding: 0;
	list-style: none;
}

#article .albom ul li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 0 5px 5px 0;
    padding: 0;
    width: 150px;
    height: 170px;
    text-align: center;
}

#article .albom ul li .albom_img{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	behavior: url(/pie/PIE.htc);
	float: left;		
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: relative;
    display: block;
}

#article .albom ul li .albom_img:hover{
	text-decoration: none;
}

#article .albom ul li .albom_img img{
    width: 150px;
    height: 150px;
    margin: 0;
    padding: 0;	
}

#article .albom ul li a{
	font-size: 11px;
	font-weight: normal;
	color: #ABABAB;
}

#article .albom .albom_button{
	text-align: right;
	padding-bottom: 10px;
}

#article .albom .albom_button .button{
	margin-left: 5px;
}

#article .albom .albom_button a{
	color: #FFFFFF;
}

#article .albom .albom_button a:hover{
	text-decoration: none;
}

.pagination_mini {
	/*margin: -20px 0px -28px -17px;*/
	border-bottom: none;
	width: 650px;
}

#contents span.check_img{
	position: absolute !important;
	width: 13px !important;
	height: 13px !important;
	right: 7px !important;
	top: 7px !important;
	cursor: pointer !important;
	margin: 0 !important;
	padding: 0 !important;
	border: none !important;
	background-color: none !important;
	-webkit-border-radius: 0 !important;
	-moz-border-radius: 0 !important;
	border-radius: 0 !important;
	behavior: url(/pie/PIE.htc);	
}

#contents span.check_disabled{
	background: url('../images/check_img.png') 0px 0px no-repeat !important;
}

#contents span.check_enabled{
	background: url('../images/check_img.png') 0px -13px no-repeat !important;
}

/* Участники
-------------------------------------------------------------*/
#article .list_user{
	border-bottom: 1px solid #E2E6E5;
	margin-bottom: 15px;
}

#article .list_user:last-child{
	border-bottom: none;
}

#article .list_user .list_user_inf{
	font-size: 12px;
	color: #2F2F2F;
}

#article .list_user .list_user_inf .list_user_date,
#article .list_user .list_user_inf .list_user_my{
	font-size: 14px;
	color: #07294C;
	margin-right: 5px;
}

#article .list_user ul{
	margin: 7px 0 0 7px;
	padding: 0;
}

#article .list_user ul li{
	width: 186px;
	padding: 5px;
	margin: 0 7px 7px 0;	
	border: 1px solid #E2E6E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    position: relative;		
}

#article .list_user .list_user_button{
	text-align: right;
	padding-bottom: 10px;
}

#article .list_user .list_user_button .button{
	margin-left: 5px;
}

#article .list_user .list_user_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	width: 55px;
	height: 55px;
	overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

#article .list_user .list_user_img img{
	margin: 0px;
	padding: 0px;
}

#article .list_user .list_user_name{
	width: 115px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin-left: 10px;
    text-align: left;
}

#article .list_user .list_user_name a{
	display: block;
	font-size: 11px;
	color: #092749;
	text-decoration: none;
	line-height: 12px;
	width: 99px;
}

#article .list_user .list_user_name span{
	position: absolute;
	font-size: 11px;
	color: #AAAAAA;
	left: 65px;
	bottom: 1px;
}

/* Одна фотография
---------------------------------------------------------------*/
.one_photo_button{
	border-bottom: 1px solid #E2E6E5;
	position: relative;
	padding: 0 15px;
	height: 55px;
}

.one_photo_button input.button{
	position: absolute;
	top: 15px;
	left: 7px;
}

.one_photo_button a.button{
	position: absolute;
	top: 15px;
	right: 7px;
}

.one_photo{
	position: relative;
}

.one_photo img{
	width: 612px;
}

.show_img{
	position: absolute;
}

#article .one_photo .full_img{
	display: block;
	width: 35px;
	height: 35px;
	background: url('../images/full_img.png') no-repeat;
	position: absolute;
	top: 10px;
	right: 17px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.show_img .full_img_close{
	display: block;
	width: 35px;
	height: 35px;
	background: url('../images/full_img_close.png') no-repeat;
	position: absolute;
	top: 10px;
	right: 17px;
	padding: 0;
	margin: 0;
	cursor: pointer;
	z-index: 9999999;
}

#article .one_photo .prev_img{
	display: block;
	width: 23px;
	height: 37px;
	background: url('../images/prev_img.png') no-repeat;
	position: absolute;
	bottom: 16px;
	left: 7px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

#article .one_photo .next_img{
	display: block;
	width: 23px;
	height: 37px;
	background: url('../images/next_img.png') no-repeat;
	position: absolute;
	bottom: 16px;
	right: 15px;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

/* Редактирование описания путешествия
----------------------------------------------------------------*/
article.edit .left ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

article.edit .left ul li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

article.edit .left ul li label{
	font-weight: normal;
	margin: 0 5px 0 5px;
}


article.edit input[type="text"],
article.edit textarea{
	display: block;
	width: 606px;
	padding: 10px 10px 10px 10px;
	height: 17px;
	border: 1px solid #DEE5EB;
	color: #AAA;
	font-style: italic;
}

article.edit textarea{
	height: 70px;
	margin-bottom: 10px;
}

article.edit .inf{
	margin-bottom: 10px;
    min-height: 21px;
}

article.edit .table_inf{
	text-align: right;
}

article.edit .table_inf table{
	text-align: left;
}

article.edit .table_inf table thead{
	text-align: center;
}

article.edit .table_inf table{
	border-bottom: 1px dashed #AAA;
}

article.edit .table_inf input[type="text"]{
	display: inline;
	padding: 3px;
	margin-bottom: 3px;
}

article.edit .table_inf textarea{
	display: inline;
	padding: 3px;
	margin: 0 0 -4px 0;
	width: 97%;
	height: 55px;
}

article.edit .table_inf tr th{
	/*width: auto;*/
	padding: 5px 4px 5px;
}

article .table_inf tr th:last-child{
	width: 139px;
}

article.edit .table_inf tr td{
	text-align: right;
	padding: 3px 2px;
}

article.edit .table_inf tr td input{
	height: 55px;
	width: 91%;
	text-align: center;
}

article.edit .table_inf tr td:first-child>input{
	height: 22px;
	width: 75%;
}

article.edit .table_inf tr td input:last-child{
	margin-bottom: 0px;
}

article.edit .table_inf .add_table_zap{
	margin: 10px 7px;
}

article.edit .table_inf tr td.price_td input{
	width: 60%;
}

#article.edit .currency{
	width: 27%;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    position: relative;
    margin-top: 24px;
    margin-left: 3px;
}

#article.edit .currency span{
	height: 14px;
	background: url('../images/currency.jpg') repeat-x;
	border: 1px solid #CDCDCD;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);
	cursor: pointer;
	display: block;
	min-width: 40px;
	text-align: center;
	line-height: 14px;
	color: #8F8F8F;
	font-size: 12px;
	margin-left: 0px;
}

#article.edit .currency ul{
	list-style: none;
	display: none;
	min-width: 38px;
	background: #E9E9E9;
	color: #8F8F8F;
	text-align: left;
	padding-left: 2px;
	position: absolute;
	left: 1px;
	top: 17px;
}

#article.edit .currency ul li{
	cursor: pointer;
}

article.edit .table_inf tr td.price_td{
	text-align: left;
	padding-left: 3px;
}

article.edit .table_inf tr th.price_th{
	width: 134px;	
}

article.edit .del_article{
	border-top: 1px solid #E2E6E5;
	padding-top: 10px;
	margin-top: 40px;
}

article.edit #img_load{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
    width: 300px;
}

article.edit #img_load_button{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    width: 280px;
    margin-left: 20px;		
}

article.edit #img_load_button .button{
	margin-top: 7px;
	width: 180px;
}

.add_list_lang{
	position: relative;
}

.add_list_lang ul{
	display: none;
	position: absolute;
	background: #E9E9E9;
	padding: 3px 3px 1px 3px;
	top: 13px;
	left: -5px;
	border: 1px solid #7A7A73;
	width: 22px;
	min-height: 18px;
	z-index: 2;
}

.add_list_lang ul li{
	margin: 0px !important;
}

/* Редактирование Маршрут
------------------------------------------------------------------*/
article.edit .tabs_edit_map{
	text-align: right;
	margin: 0 7px;
}

article.edit .tabs_edit_map .button{
	margin: 7px 3px;
}

article.edit .description textarea{
	min-height: 200px;
	height: auto;
	color: #2B2B2B;
}

/* Участники
------------------------------------------------------------------*/
#article.edit .list_user_name.list_user_mail{
	margin-top: 21px;
}

#article.edit .participants_menu{
	position: absolute;
	/*top: 26px;*/
	right: 5px;
	width: 21px;
	height: 21px;
	z-index: 99999;
	display: none;
}

#article.edit .participants_menu_show{
	display: block;
	width: 24px;
	height: 24px;
	position: absolute;
	right: 0px;
	top: 0px;
	margin-top:-23px;
	background: url('../images/participants_func.jpg') right top no-repeat;
	z-index: 2;
	cursor: pointer;
}

#article.edit .participants_menu .dop_pic{
	position: absolute;
	z-index: 2;
	top: -23px;
	right: 0px;
	cursor: pointer;
}

#article.edit .participants_menu div{
	border: 1px solid #A7A7A9;
	background: #F0F0E8;
	-webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
	behavior: url(/pie/PIE.htc);
	position: absolute;
	top: 0px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: auto;
	min-width: 104px;
	z-index: 1;
	display: none;
}

#article.edit .participants_menu div ul{
	margin: 0;
	padding: 0;
}

#article.edit .participants_menu ul li{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	behavior: url(/pie/PIE.htc);
	border: none;
	height: 20px;
	min-width: 104px;
	/*width: auto;*/
	margin: 0px;
	padding: 0px;
}

#article.edit .participants_menu ul li a{
	display: block;
	height: 20px;
	line-height: 20px;
	color: #000000;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
}

#article.edit .participants_menu ul li a:hover{
	background: #DCDCDC;
}

#article.edit .participants_invite{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
	width: 78px;
	height: 23px;
	position: relative;
}


#article.edit .participants_invite a.participants_invite_button{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
	width: 76px;
	height: 21px;
	padding: 0 0 3px 2px;
	line-height: 21px;
	text-align: center;
	color: #FFF;
	font-family: verdana;
	font-weight: bold;
	font-size: 12px;
	letter-spacing: 1px;
	background: url('../images/participants_invite.jpg') right top no-repeat;
	cursor: pointer;
	position: relative;
	z-index: 2;
}

#article.edit .participants_invite a.participants_invite_button:hover{
	text-decoration: none;
}

#article.edit .participants_invite_show{
	border: 1px solid #A7A7A9;
	background: #F0F0E8;
	-webkit-border-radius: 5px 0 5px 5px;
	-moz-border-radius: 5px 0 5px 5px;
	border-radius: 5px 0 5px 5px;
	behavior: url(/pie/PIE.htc);
	position: absolute;
	top: 23px;
	right: 0px;
	margin: 0px;
	padding: 0px;
	width: auto;
	min-width: 104px;
	z-index: 1;
	display: none;
	padding: 3px 7px 7px 7px;
}

#article.edit .participants_invite input{
	padding: 2px 3px; 
	margin: 3px 0 7px; 
	width: 200px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
}

#article.edit .participants_invite span{
	display: block;
	color: #7A7A73;
	text-align: left;
}

#article.edit .participants_find{
	width: 525px;
	position: relative;
	top: -21px;
	left: 7px;
}

#article.edit .participants_find input[type="text"]{
	width: 505px;
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);	
}

.add_is{
	position: absolute;
	display: block;
	height: 19px;
	width: 19px;
	border: 1px solid #E0E4E3;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc);
	right: 5px;
	top: 5px;
	cursor: pointer;
	color: #8E8E8E !important;
	text-decoration: none;
	text-align: center;
	font-size: 16px;
	line-height: 19px;
}

.add_is:hover{
	text-decoration: none !important;
}

/* Редактирование фотографии
----------------------------------------------------------------*/
article.edit .tabs input[type="text"] {
	width: 300px;
	height: 20px;
	padding: 0px 5px;
	margin-top: 1px;
}

/* Удаление/Добавление постов
-----------------------------------------------------------------*/
.list_posts_button{
	text-align: right;
	padding-bottom: 10px;
}

.list_posts_button .button{
	margin-left: 5px;
}

.posts_find{
	width: 548px;
	position: relative;
	top: -21px;
	left: 0px;
}

.posts_find input[type="text"]{
	width: 535px;
	padding: 1px 4px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	height: 17px;
	border: 1px solid #DEE5EB;
	color: #AAA;
	font-style: italic;	
}

.list_posts_add{
	border-bottom: 1px solid #E2E6E5;
	margin-bottom: 15px;
}

.list_posts_add ul{
	margin: 7px 0 0 7px;
	padding: 0;
}

.list_posts_add ul li{
	padding: 5px;
	margin: 0 7px 7px 0;
	border: 1px solid #E2E6E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	display: block;
	zoom: 1;
	position: relative;
}

.list_posts_add .list_posts_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	width: 79px;
	height: 55px;
	overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

.list_posts_add .list_posts_img img{
	margin: 0px;
	padding: 0px;
}

.list_posts_add .list_posts_inf{
	width: 480px;
    margin-left: 10px;
    margin-top: 7px;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	    
	color: #545454;
}

.list_posts_add .list_posts_inf span{
	color: #ACACAC;
	margin-right: 5px;
}


.list_posts_add .list_posts_name{
	width: 480px;
    margin-top: 5px;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   
}

.list_posts_add .list_posts_name a{
	display: block;
	font-size: 11px;
	color: #092749;
	text-decoration: none;
	line-height: 12px;
	font-weight: bold;
}

.list_posts_add .list_posts_name span{
	position: absolute;
	font-size: 11px;
	color: #AAAAAA;
	left: 65px;
	bottom: 1px;
}
/*---------------------------------------------------*/
/*                     profile                       */
/*---------------------------------------------------*/


/* оповещения
-----------------------------------------------------*/
.list_alert{
	text-align: right;
	border-bottom: 1px solid #E2E6E5;
	margin-bottom: 15px;
	margin-left: -15px;
}

.list_alert ul{
	text-align: left;
	margin: 7px 0 0 0px;
	padding: 0;
}

.list_alert ul li{
	padding: 5px;
	margin: 0 0 7px 0;
	border: 1px solid #FFFFFF;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	display: block;
	zoom: 1;
	position: relative;
}

.list_alert ul li:hover{
	border: 1px solid #E2E6E5;
}

.list_alert ul li .button{
	position: absolute;
	bottom: 7px;
	right: 7px;
}

.list_alert ul li .button:last-child{
	right: 120px;
}

.list_alert .list_alert_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	width: 79px;
	height: 55px;
	overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

.list_alert .list_alert_img img{
	margin: 0px;
	padding: 0px;
	height: 55px;
	max-width: 79px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);	
}

.list_alert .list_alert_inf{
	width: 480px;
    margin-left: 10px;
    margin-top: -5px;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	    
	color: #545454;
}

.list_alert .list_alert_inf span{
	color: #ACACAC;
	margin-right: 5px;
}


.list_alert .list_alert_name{
	width: 480px;
    margin-top: 0px;
    text-align: left;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;   
}

.list_alert .list_alert_name a{
	display: block;
	font-size: 11px;
	color: #092749;
	text-decoration: none;
	line-height: 12px;
	/*font-weight: bold;*/
}

/*.list_alert .list_alert_name strong{*/
    /*font-weight: bold;*/
/*}*/

.list_alert ul li.old .list_alert_name a{
	color: #ACACAC;
}

.list_alert .list_alert_name span{
	position: absolute;
	font-size: 11px;
	color: #AAAAAA;
	left: 65px;
	bottom: 1px;
}

.list_alert .select {
	margin: 10px 10px 10px 10px;
}

/* Люди
------------------------------------------------------*/
#article .list_user .list_user_inf.people_title,.people_title{
	font-size: 20px;
	font-weight: normal;
	color: #07284C;
	text-decoration: none;
	padding-bottom: 3px;
	letter-spacing: 0px;
	text-align: left;	
}
/* Переписка
----------------------------------------------------------*/
.chat{
	text-align: right;
	margin-top: 20px;
}

.chat .comments_mother{
	text-align: left;
}
.chat .people_title{
	border-bottom: 1px solid #DEE5EB;
	padding-bottom: 10px;
	margin-bottom: 10px;
	padding-left: 5px;	
}

.chat a.button{
	margin-right: 10px;
	width: 71px;
}

/* Сообщества
-------------------------------------------------------------*/
#article .community-border-bottom{
	border-bottom: 1px solid #E2E6E5;
	margin-top: 15px;
}

#article .community{
    /*border-bottom: 1px solid #E2E6E5;*/
    margin-top: 25px;
    margin-bottom: 25px;
}

#article .community:first-child{
    margin-top: 0px;
}

#article .community:last-child{
	border-bottom: none;
    margin-bottom: 10px;
}

#article .community .list_user_inf{
	font-size: 12px;
	color: #2F2F2F;
}

#article .community .list_user_inf .list_user_date,
#article .community .list_user_inf .list_user_my{
	font-size: 14px;
	color: #07294C;
	margin-right: 5px;
}

#article .community ul{
	margin: 7px 0 0 7px;
	padding: 0;
}

#article .community ul li{
	width: 184px;
	padding: 5px;
	margin: 0 7px 7px 0;	
	border: 1px solid #E2E6E5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    position: relative;
    /*overflow: hidden;*/
}

#article .community ul li .button{
	position: absolute;
	right: 5px;
	top: 68px;
}

#article .community .list_user_button{
	text-align: right;
	padding-bottom: 10px;
}

#article .community .list_user_button .button{
	margin-left: 5px;
}

#article .community .list_user_img {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	width: 79px;
	height: 55px;
	overflow: hidden;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

#article .community .list_user_img img{
	margin: 0px;
	padding: 0px;
}

#article .community .list_user_name{
	width: 95px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin-left: 10px;
    text-align: left;
}

#article .community .list_user_name a{
	display: block;
	font-size: 11px;
	color: #092749;
	text-decoration: none;
	line-height: 12px;
	width: 99px;
}

#article .community .list_user_name span{
	position: absolute;
	font-size: 11px;
	color: #AAAAAA;
	left: 65px;
	bottom: 1px;
}

#article .community .list_user_inf.people_title,.people_title{
	font-size: 20px;
	font-weight: normal;
	color: #07284C;
	text-decoration: none;
	padding-bottom: 3px;
	letter-spacing: 0px;
	text-align: left;	
}
/* Анкета
---------------------------------------------------------------------*/
.profile{
	margin-top: 5px;
	padding-top: 10px;
	border-top: 1px solid #E2E6E6;
}
.my_avatar,
.my_inf{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.my_avatar,
.my_avatar img,
.my_avatar .button{
	width: 171px;
}

.my_avatar img{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
}

.my_avatar .button{
	margin: 3px 0 0 0 !important;
	padding-left: 0 !important;
	padding-right: 0 !important; 
}

.my_inf{
	width: 440px;
	margin-left: 10px;
}

.my_inf .my_name{
	font-size: 16px;
	color: #072A4A;
	margin-bottom: 10px;
}

.my_inf .my_name span{
	font-size: 13px;
	color: #2C2C2C;
}

.my_inf .my_location span,
.my_inf .my_date span,
.my_inf .my_lang span{
	width: 140px;
	margin: 0px 0px 10px 0px !important;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
}

.my_inf .my_lang ul{
	list-style: none;
	margin-top: 5px;
	display: block;
}

.my_inf .my_lang ul li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
    height: 14px;
    width: 107px;
    border: 1px solid #E2E6E5;
 	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/pie/PIE.htc); 
	line-height: 14px;
	color: #06284B;
	font-size: 12px;
	font-style: italic;
	padding-left: 30px;
	position: relative;
	margin-left: 5px;
}

.my_inf .my_lang{
	border-top: 1px dashed #E2E6E5;
	padding-top: 5px;
	margin-top: 10px;
}

.table_inf table{
	width: 100%;
}

.table_inf .experience th{
	width: auto;
}

/* Редактирование профиля
------------------------------------------------------------------------*/
#article.edit .my_inf .my_name input{
	padding: 3px;
	display: inline;
	width: 427px;
}

#article.edit .my_inf .my_date input{
	padding: 3px;
	display: inline;
	width: 80px;
	text-align: center;
}


#article.edit .my_inf .my_location input{
	padding: 3px;
	display: inline;
	width: 287px;	
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	behavior: url(/pie/PIE.htc);	
	background: url('../images/search.jpg') 275px 5px no-repeat;	
}

.my_inf .my_lang_edit ul li span{
	display: block;
	position: absolute;
	top: 3px;
	right: 3px;
	width: 9px;
	height: 9px;
	background: url('../images/del_lang_my.png') no-repeat;		
	cursor: pointer;
}


.my_inf .my_lang_edit ul li.my_add_lang{
	width: 20px;
	padding: 0px;
	border-color: #A7A7A9;
	cursor: pointer;
}

.my_inf .my_lang_edit ul li.my_add_lang div{
	border: 1px solid #A7A7A9;
	background: #F0F0E8;
	-webkit-border-radius: 0px 5px 5px 5px;
	-moz-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	behavior: url(/pie/PIE.htc);
	position: absolute;
	top: 14px;
	left: -1px;
	margin: 0px;
	padding: 0px;
	width: auto;
	min-width: 104px;
	z-index: 1;
	display: none;
}

.my_inf .my_lang_edit ul li.my_add_lang div li{
	font-style: normal;
	width: auto;
	height: 20px;
	line-height: 20px;
	padding: 0px;
	border: none;
	display: block;
	cursor: pointer;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: url(/pie/PIE.htc);
	margin: 0px;
}

.my_inf .my_lang_edit ul li.my_add_lang div li:hover{
	background-color: #DCDCDC;
}

.my_inf .my_lang_edit ul li.my_add_lang div li a{
	padding-left: 30px;
	margin: 0px 0px 4px 8px;
	color: #000;
	text-decoration: none;
}

/* Настройки
------------------------------------------------------------------*/
.options_top{
	border-bottom: 1px solid #E2E6E5;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

.new_email{
	margin-left: 15%;
}

.form_new_data{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
    width: 40%;	
    margin-top: 20px;
}

.form_new_data form{
	border-top: 1px solid #E2E6E5;
display: block;
margin-top: 10px;
padding-top: 10px;	
}

.form_new_data form input[type=password],
.form_new_data form input[type=text]{
	width: 267px;
	padding: 2px;
	height: 16px;
	border: 1px solid #BEBEBE;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
}

.form_new_data dt {
font-family: verdana;
font-size: 13px;
color: #2C2C2C;
margin-left: 10px;
margin-bottom: 3px;
}

.form_new_data dl {
margin-bottom: 3px;
}

.form_new_data .button{
	margin-top: 5px;
}

.soc_list{
	padding: 0;
	margin: 20px 0;
}

#article .list_user .soc_list li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;	
    width: 21px;
    height: 21px;	
    margin: 3px;
    border: none;
    padding: 0;
 	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	behavior: url(/pie/PIE.htc);
	cursor: pointer;   
}

.od,
.vk,
.fb,
.tv{
	background-image: url('../images/soc.jpg');
	background-repeat: no-repeat;
	width: 21px;
	height: 21px;	
}

.fb{ background-position: 0px 0px; }
.od{ background-position: -21px 0px; }
.tv{ background-position: -42px 0px; }
.vk{ background-position: -63px 0px; }

/* Путешествие
-----------------------------------------------------*/
.border{
	border-bottom: 1px solid #E2E6E5;
	height: 0px;
	margin-top: 7px;
}

/* События
---------------------------------------------------*/
.user_developments_button{
	margin: 20px 0;
}

/* События редактирование
-----------------------------------------------------*/
.price_developments{
	position: absolute;
	font-family: "Verdana";
	font-size: 12px;
	color: #ABABAB;	
	bottom: 0px;
	right: 0px;
	width: 295px;
	height: 66px;
}

#article.edit .price_developments input[type="text"]{
	width: 116px;
	display: inline;
	padding: 5px;
}

#article.edit .price_developments .currency{
	margin-top: 6px;
	width: 45px;
}

.view_map_developments label{
	margin-left: 5px;
}

.view_map_developments .map_content{
	border: 1px solid #E2E6E7;
	margin-top: -1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/pie/PIE.htc);
	background: #FFF;
	padding: 7px;
	margin-top: 10px;
	margin-bottom: 30px;
}

#developments ul{
	margin: 0 0 10px 0;
	padding: 0;
	list-style: none;
}

#developments ul li{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    padding: 0px 0pt 0px 12px;
    width: 119px;
}

#developments ul li label{
	font-weight: normal;
	margin: 0 5px 0 5px;
}
/* Вопросы
-----------------------------------------------*/
.comments_post h2{
	font-size: 20px;
	font-weight: normal;
	color: #909090;
	text-decoration: none;
	padding-bottom: 3px;
	letter-spacing: 0px;
	display: block;
	border-bottom: 1px solid #E2E6E5;
	margin: 20px 0;
}

.rating_questions {
	position: absolute;
	right: 0px;
	top: 0px;
	font-size: 11px;
	color: #A9A9A9;
}

.rating_questions span{
	margin-left: 20px;
	cursor: pointer;
}

.this_otvet{
	margin-left: 10px;
	font-size: 11px;
	color: #A9A9A9;
}

a.this_otvet.otvet_green{
	color: #68C448;
	font-weight: bold;
	text-decoration: none;
}
/* Блок для вывода ошибок
---------------------------------------------------*/
.error_message{
	padding: 5px;
	color: red;
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	font-weight: normal;
}

.error_message p{
	margin: 0px;
	padding: 1px;
	color: red;
	font-size: 10px;
	line-height: 12px;
	font-style: italic;
	font-weight: normal;
}

.error_message p.green{
	color: green;
}

/* Редактор ckeditor
------------------------------------------------------*/
#article span.cke_toolbar{
    margin: 2px;
}

#article span.cke_toolbar span {
    margin: 0;
}

#article span.cke_toolbar span.cke_toolbar_separator {
    margin: 4px;
}

#cke_desc_full_post {
    margin-top: 40px;
}


#article .cke_top,#article .cke_bottom{
    margin-left: 0;
}

#article span.cke_toolbar span.cke_combo_arrow{
    margin: 11px 0px 0px -4px;
}

#article .cke_contents textarea{
    padding: 0;
    margin: 0;
}

.uploadImgServer form {
    display: block;
}

.uploadImgServer input[type="submit"]{
    text-align: center;
    padding: 2px 10px;
    color: #FFFFFF;
    font-family: verdana;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1px;
    background: #A1A4A1;
    border: 1px solid #7A7A73;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    behavior: url(/pie/PIE.htc);
    cursor: pointer;
    margin-left: 0px;
    text-decoration: none;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    margin-top: 10px;
    margin-bottom: 20px;
}

.uploadImgServer .progress {
    position: relative;
    width: 200px;
    border: 1px solid #ddd;
    padding: 1px;
    border-radius: 3px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
}

.uploadImgServer .bar {
    background-color: #B4F5B4;
    width: 0%;
    height: 20px;
    border-radius: 3px;
}

.uploadImgServer .percent {
    position: absolute;
    display: inline-block;
    top: 3px;
    left: 48%;
}

.uploadImgServer .status{
    display: none;
}

.uploadImgServer .image{
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    margin: 0 0 0 30px;
}

.uploadImgServer .image img{
    max-width: 150px;
    max-height: 150px;
}
